@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;600&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: hsl(210, 36%, 96%);
    font-family: 'Open Sans', sans-serif;
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)), url(./hero-bcg.jpeg) center/cover no-repeat;
}

nav {
    background: #fff;
    padding: 1rem 1.5rem;
}

.logo_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 50px;
}

.nav_toggle {
    background: transparent;
    border-color: transparent;
    font-size: 1.5rem;
    color: hsl(209, 61%, 16%);
}

.nav_toggle:hover{
    transition: all 0.3s linear;
    color: #49a6e9;
    cursor: pointer;
}

.container_links {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}

.content_links li {
    list-style: none;
} 

.content_links a{
    display: block;
    color: hsl(210, 22%, 49%);
    padding: 0.75rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1.5;
}

.container_links a:hover {
    color: hsl(205, 86%, 17%);
}

.banner {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.container_banner {
    color: #fff;
}

h1 {
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 4px;
    margin-bottom: 0.75rem;
    line-height: 1.25;
}

.container_banner p {
    margin: 0 auto;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
    max-width: 25rem;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    font-size: 0.875rem;
    line-height: 1.5;
    transition: all 0.3s linear;
}

.btn:hover {
    background: #fff;
    color: #49a6e9;
}

.section {
    height: 80vh;
    padding-bottom: 5rem;
}

.title {
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    color: #102a42;
    letter-spacing: 4px;
    margin-bottom: 0.75rem;
}

span {
    color: #40cfd4;
}

#services {
    background: #fff;
}

.footer {
    background: #102a42;
    padding: 5rem 1rem;
}

.footer p {
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Open Sans';
    font-size: 0.875rem;
    text-align: center;
    color: #fff;
    line-height: 1.5;
}
/* responsive */
@media screen and (min-width: 800px) {
    .nav_content {
        width: 90vw;
        max-width: 1170px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    nav {
        background: transparent;
    }

    .container_links {
        height: auto;
    }

    .nav_toggle {
        display: none;
    }

    .content_links {
        display: flex;
    }

    .content_links a{
        background: transparent;
        color: #fff;
        margin: 0 1rem;
        line-height: 1.5;
        padding: 0;
        letter-spacing: 0.25rem;
        text-transform: capitalize;
        font-weight: bold;
        transition: all 0.3s linear;
        cursor: pointer;
    }
    .container_links a:hover {
        color: #fff;
    }
}
/* js */
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.fixed .content_links a{
    color: #102a42;
}

.show_container_links {
    height: 200px;
}